<div class="pass-pages pass-profile" id="pass-profile">
    <div class="row">
        <div class="col s12 m6">
            <div class="card" id="profile-card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="driver.png" alt="user background">
                    <span class="card-title card-profile-name"><%= user_familyName %> <%= user_givenName %></span>  
                </div>
                <div class="card-content">
                    <img class="circle responsive-img activator card-profile-image" src="driver/unknown.png" alt="">
                    <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right card-profile-edit">
                        <i class="material-icons">list</i>
                    </a>
                    <div class="row card-profile-stat">
                        <div class="col s4 center-align">
                            <h4 class="card-title grey-text text-darken-4"><%= passenger_profile.cash %></h4>
                            <p class="medium-small grey-text">優惠點數</p>                        
                        </div>
                        <div class="col s4 center-align">
                            <h4 class="card-title grey-text text-darken-4"><%= passenger_profile.ride %></h4>
                            <p class="medium-small grey-text">乘車次數</p>                        
                        </div>                    
                        <div class="col s4 center-align">
                            <h4 class="card-title grey-text text-darken-4"><%= passenger_profile.case %></h4>
                            <p class="medium-small grey-text">監督次數</p>                        
                        </div>   
                    </div>    
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Name <i class="material-icons right">clear</i></span>
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <i class="material-icons circle orange">perm_identity</i> 
                            <span class="title">身份</span>
                            <p id="user-role">乘客</p>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle orange">call</i> 
                            <span class="title">電話</span>
                            <p id="user-phone"><%= user_phone %></p>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle orange">email</i>
                            <span class="title">電子信箱</span>
                            <p id="user-email"><%= user_email %></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

