<div class="pass-pages pass-profile" id="pass-profile">
    <div class="pass-header" id="header">
        <div class="row">
            <div class="col s12 m6">
                <div class="card card-profile">
                    <div class="card-image">
                        <img id="profile-img" src="driver.png" alt="user background">
                        <span class="card-title card-name" id="profile-name"><%= user_familyName %> <%= user_givenName %></span>
                        <a class="btn-floating halfway-fab left card-avatar">
                            <img class="circle responsive-img activator halfway-fab left" src="driver/unknown.png" alt="">
                        </a>
                        <a class="btn-floating activator halfway-fab waves-effect waves-light card-more">
                            <i class="material-icons">list</i>
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="card-stat row">
                            <div class="col s4 center-align">
                                <h4 class="card-title grey-text text-darken-4"><%= passenger_profile.cash %></h4>
                                <p class="medium-small grey-text text-darken-2">優惠點數</p>                        
                            </div>
                            <div class="col s4 center-align">
                                <h4 class="card-title grey-text text-darken-4"><%= passenger_profile.ride %></h4>
                                <p class="medium-small grey-text text-darken-2">乘車次數</p>                        
                            </div>                    
                            <div class="col s4 center-align">
                                <h4 class="card-title grey-text text-darken-4"><%= passenger_profile.case %></h4>
                                <p class="medium-small grey-text text-darken-2">監督次數</p>                        
                            </div>   
                        </div>    
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><%= user_familyName %> <%= user_givenName %><i class="material-icons right">clear</i></span>
                        <ul class="collection collection-avatar">
                            <li class="collection-item avatar">
                                <i class="material-icons circle">perm_identity</i> 
                                <p class="title">身份</p>
                                <p class="content-p" id="user-role">乘客</p>
                            </li>
                            <li class="collection-item avatar">
                                <i class="material-icons circle">call</i> 
                                <p class="title">電話</p>
                                <p class="content-p" id="user-phone"><%= user_phone %></p>
                            </li>
                            <li class="collection-item avatar">
                                <i class="material-icons circle">email</i>
                                <p class="title">電子信箱</p>
                                <p class="content-p" id="user-email"><%= user_email %></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pass-favorite" id="pass-favorite">
        <div class="row">
            <div class="col s12 m6">
                <ul class="collection with-header collection-avatar-contrast">
                    <li class="collection-header">
                        <h4 class="task-card-title">最愛司機清單</h4>
                        <p class="task-card-date">更新時間 - Jun 21, 2017</p>
                    </li>
                    <li class="collection-item avatar">
                        <img class="circle" src="driver/unknown.png" alt>
                        <p class="title">[Driver name]</p>
                        <p>[Licence]</p>
                        <div class="secondary-content">
                            <p class="secondary-content-p" id="pass-star">4.0 <i class="tiny material-icons">star</i></p>
                        </div>
                    </li>
                    <li class="collection-item avatar">
                        <img class="circle" src="driver/unknown.png" alt>
                        <p class="title">[Driver name]</p>
                        <p>[Licence]</p>
                        <div class="secondary-content">
                            <p class="secondary-content-p" id="pass-star">4.0 <i class="tiny material-icons">star</i></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

